body,
html {
    margin: 0 auto 0 auto;
    background-color: #bebaba;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

.homepage {
    background-color: #161616;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.text-obavestenje {
    z-index: 2;
    margin: 0 0 70px 100px;
    color: white;
    font-size: 20px;
    height: auto;
    width: auto;
}

.dugme-ucestvuj {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 14px;
    width: 100px;
    height: 30px;
    background-color: #00ffa3;
}

.dugme-ucestvuj:hover {
    background-color: #7952d8;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

.dugmici-mreze {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.dugmici-mreze img {
    margin-right: 20px;
    height: 25px;
    width: 25px;
}

.sporedni-logo {
    margin-right: 70px;
    z-index: 1;
}

.sporedni-logo img {
    height: auto;
    width: 100%;
    -webkit-animation: sporedni-logo 1.1s both;
    animation: sporedni-logo 1.1s both;
}

@-webkit-keyframes sporedni-logo {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0
    }

    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1
    }

    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }

    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }

    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
}

@keyframes sporedni-logo {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0
    }

    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1
    }

    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }

    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }

    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
}


.slogan p {
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 6px;
    overflow: hidden;
    background: linear-gradient(90deg, #00ffa3, #fff, #00ffa3);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 4s linear;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
    0% {
        background-position: -500%;
    }
}

.mountain {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40vh;
}

.mountain img {
    height: 100%;
    width: 100%;
}

/*******partneri*************/
.partners {
    width: 100%;
    background-color: #161616;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: -1;
}

.glavni-partneri {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    height: auto;
    margin: 25px;
}

.glavni-partneri img {
    display: flex;
    width: 20%;
    height: 100%;
}

.linija-partneri {
    background-color: #00ffa3;
    width: 150px;
    border: 1px solid #00ffa3;
}

.naslov-partneri {
    color: #00ffa3;
    margin-top: 20px;
    font-size: 18px;
}

.zlatni-partner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.zlatni-partner img {
    width: 50%;
}

/*****slider***********/
.naturalni-partneri {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}

.for-slick-slider {
    display: flex;
    width: 70%;
}

.for-slick-slider .items {
    width: 100%;
    height: auto;
    margin: 30px;
}

.for-slick-slider .items img {
    display: flex;
    width: 100%;
    height: 100%;
}

.slick-dots li.slick-active button:before,
.slick-dots li button:before {
    color: #00ffa3;
    opacity: 1;
    font-size: 16px;
}

.slick-dots li.slick-active button {
    height: 4px;
    width: 30px;
    margin: 0;
    padding: 0;
    background-color: #00ffa3;


}

.slick-dots li.slick-active button:before {
    color: transparent;
}


/****************************/
.header {
    z-index: 99;
    width: 100%;

    position: fixed;
    height: 70px;
    background-color: #161616;
    opacity: 0.8;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
}

.dugme-meni {
    position: absolute;
    display: none;
    height: auto;
    cursor: pointer;
    margin-left: 20px;
    width: 50px;
}

.dugme-meni img {
    height: 100%;
    width: 100%;
}

.meni-levi {
    float: left;
    width: 45%;
}

.meni-kartice li {
    display: inline;
    padding: 10px;
    color: #00ffa3;
}

.logo {
    height: auto;
    text-align: center;
    justify-content: center;
    display: flex;

}

.meni-kartice a {
    color: #00ffa3;
    transition: all 200ms ease-in-out;
}

.meni-kartice a:hover {
    color: rgb(255, 255, 255);
}

/********************************/

@keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 10000px 0;
    }
}

@-webkit-keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 10000px 0;
    }
}

@-moz-keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 10000px 0;
    }
}

@-ms-keyframes move-clouds-back {
    from {
        background-position: 0;
    }

    to {
        background-position: 10000px 0;
    }
}

.clouds {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 80vh;
    display: block;
}

.clouds {
    background: transparent url(img/clouds5.png) repeat top center;
    /* background: transparent url(img/oblaciljubicasta.png) repeat top center; */
    z-index: 0;

    -moz-animation: move-clouds-back 200s linear infinite;
    -ms-animation: move-clouds-back 200s linear infinite;
    -o-animation: move-clouds-back 200s linear infinite;
    -webkit-animation: move-clouds-back 200s linear infinite;
    animation: move-clouds-back 200s linear infinite;
}

/*****************************************************/




/****************************mediaquery***********************************/
@media (max-width: 1024px) {
    .for-slick-slider .items {
        width: 80%;
        height: 30vh;
        margin: 10px;
    }

    .for-slick-slider {
        display: flex;
        width: 90%;
    }

    .zlatni-partner img {
        width: 70%;
    }
}

@media (max-width: 650px) {
    .for-slick-slider .items {
        width: 100%;
        height: auto;
        margin: 10px;
    }

    .for-slick-slider {
        display: flex;
        width: 90%;
    }

    .zlatni-partner img {
        width: 70%;
    }

    .homepage {
        background-color: #161616;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;

    }

    .text-obavestenje {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 40px 0 0 0;
        font-size: 16px;
    }

    .dugme-ucestvuj {
        margin-top: 40px;
    }

    .dugmici-mreze img {
        margin-left: 20px;
        height: 30px;
        width: 30px;
    }


    .mountain {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: auto;
    }

    .mountain img {
        height: auto;
    }

    .sporedni-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-right: 0;
        z-index: 1;
    }

    .slogan p {
        background-size: 100%;
    }

    .sporedni-logo img {
        height: auto;
        width: 85%;
    }

    .naslov-partneri {
        margin-top: 10px;
        font-size: 16px;
    }
}